.header{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    border-bottom: 1px solid #dfe3e8;
}

.header-titulo h1 {
    font-size: 24px;
    margin: 0;
}

.header-fecha {
    color: #6b7280;
    font-size: 14px;
}